<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSHumanReadableCopyright</key>
  <string>@JAMBA_CURRENT_YEAR@ pongasoft</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleExecutable</key>
  <string>@MACOSX_BUNDLE_EXECUTABLE_NAME@</string>
  <key>CFBundleIconFile</key>
  <string></string>
  <key>CFBundleIdentifier</key>
  <string>pongasoft.vst.JambaTestPlugin</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>BNDL</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleVersion</key>
  <string>@PLUGIN_VERSION@</string>
  <key>CFBundleShortVersionString</key>
  <string>@PLUGIN_VERSION@</string>
  <key>CSResourcesFileMapped</key>
  <true/>
</dict>
</plist>
